.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 25px;
}

.topnav nav ul {
    display: flex;
    gap: 1rem;
    margin: 0px;
    padding: 0;
    list-style-type: none;
}

.topnav nav ul li a {
    text-decoration: none;
    color: bisque; 
    font-family: "Rowdies", sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.topnav nav ul li a:hover {
    text-decoration: none;
    color: white; /* Pink color */
}


.topnav h1 a {
    text-decoration: none;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 2.5rem;
    color: bisque;
    font-style: normal;
}
.topnav h1 a:hover {
    text-decoration: none;
    color: bisque;
}

.topnav h1 img {
    height: 1.6rem;
    width: auto;
    margin-right: 10px;
    align-items: center;
}
body{
    background-color: gray;
}
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 2rem; 
    padding: 2rem;
}


.section {
   font-size: medium;
   font-family: "Hind Madurai", sans-serif;

}
#titles{
    flex: 1;
}


#about {
    flex: 2;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
